@import 'styles.css';

.version {
  padding: 0 0 0 9px;
  font-size: 13px;
  font-weight: 700;
  line-height: 2;
  position: fixed;
  height: 40px;
  bottom: calc(var(--base-width)*10);

  /* from https://conduit.io/ */

  & a.button {
    color: #2F80ED;
    background: #fff;
    border-radius: 48px;
    border: 1px solid #2f80ed;
    padding: 10px 14px 11px 14px;
    font-weight: bold;
    font-size: 14px;
    margin: 0px 8px 8px 0px;
    position: relative;
    line-height: 4;
  }
  & a.button:hover {
    top: 1px;
    background-color: #efefef;
    text-decoration: none;
  }
  & a.button:active {
    background-color: #2F80ED;
    color: #fff;
  }
  & a.button.primary {
    color: #fff;
    background-color: #2F80ED;
  }
  & a.button.primary:hover {
    top: 1px;
    background-color: #2875DE;
    text-decoration: none;
  }
  & a.button.primary:active {
    background-color: #2469C7;
  }
}
